/* html, body {
  overflow: visible;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
} */

body {background-color: #000000;}

#selectBoxes {
    background-color: #e0f5ee;
}
#close {
  /* position: fixed;
  bottom: 0px; */
  left: 50%;
}
/* #leg {
  background-color: white
} */
.mapbox-improve-map {
  display: none;
}

.brushFilter {
background-color: black;
color: "#e0f5ee"
}

.axisWhite line{
stroke: #e0f5ee;
}

.axisWhite path{
stroke: #e0f5ee;
}

.selection{
fill-opacity: 1;
stroke: none;
}

h1 {
  color: #e0f5ee;

}
/* .lead {
  color: #e0f5ee;

} */

.legend{
  background-color: white;
  /* width: 380px; */
}

:root {
  --syntax_normal: #1b1e23;
  --syntax_comment: #a9b0bc;
  --syntax_number: #20a5ba;
  --syntax_keyword: #c30771;
  --syntax_atom: #10a778;
  --syntax_string: #008ec4;
  --syntax_error: #ffbedc;
  --syntax_unknown_variable: #838383;
  --syntax_known_variable: #005f87;
  --syntax_matchbracket: #20bbfc;
  --syntax_key: #6636b4;
  --mono_fonts: 82%/1.5 Menlo, Consolas, monospace;
}

.observablehq--expanded,
.observablehq--collapsed,
.observablehq--function,
.observablehq--import,
.observablehq--string:before,
.observablehq--string:after,
.observablehq--gray {
  color: var(--syntax_normal);
}

.observablehq--collapsed,
.observablehq--inspect a {
  cursor: pointer;
}

.observablehq--field {
  text-indent: -1em;
  margin-left: 1em;
}

.observablehq--empty {
  color: var(--syntax_comment);
}

.observablehq--keyword,
.observablehq--blue {
  color: #3182bd;
}

.observablehq--forbidden,
.observablehq--pink {
  color: #e377c2;
}

.observablehq--orange {
  color: #e6550d;
}

/* form {

  color: white;
} */

.observablehq--null,
.observablehq--undefined,
.observablehq--boolean {
  color: var(--syntax_atom);
}

.observablehq--number,
.observablehq--bigint,
.observablehq--date,
.observablehq--regexp,
.observablehq--symbol,
.observablehq--green {
  color: var(--syntax_number);
}

.observablehq--index,
.observablehq--key {
  color: var(--syntax_key);
}

.observablehq--prototype-key {
  color: #aaa;
}

.observablehq--empty {
  font-style: oblique;
}

.observablehq--string,
.observablehq--purple {
  color: var(--syntax_string);
}

.observablehq--error,
.observablehq--red {
  color: #e7040f;
}

.observablehq--inspect {
  font: var(--mono_fonts);
  overflow-x: auto;
  display: block;
  white-space: pre;
}

.observablehq--error .observablehq--inspect {
  word-break: break-all;
  white-space: pre-wrap;
}

#charts {
  position: relative;
  width: 100%;
  height:100%;
}

#observablehq-viewof-lineChart-0643eba3{
  position: absolute;
  z-index: 9;
  right:44px;
  /* margin-left: 55%;  */
  width: 100%;
  /* height: 100px;             */
  /* top: 0;
  left: 0; */
  opacity: 0.9;  
  
}

.close {
  vertical-align: middle;
  border: none;
  color: #999999;
  border-radius: 50%;
  background: transparent;
  position: absolute;
  right: 1px;
  width: 32px;
  height: 32px;
  opacity: 0.9;
  z-index: 16;
}
.close:focus,
.close:hover {
  opacity: 1;
  background: rgba(128, 128, 128, 0.5);
}
.close:active {
  background: rgba(128, 128, 128, 0.9);
}
/* tines of the X */
.close::before,
.close::after {
  content: " ";
  position: absolute;
  top: 50%;
  left: 50%;
  height: 20px;
  width: 4px;
  background-color: currentColor;
}
.close::before {
  transform: translate(-50%, -50%) rotate(45deg);
}
.close::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

#close-me{
  position: absolute;
  z-index: 9;
  right:0px;
  padding: 15px;
  /* margin-left: 55%;  */
  width: 450px;
  /* height: 100px;             */
  /* top: 0;
  left: 0; */
  opacity: 0.9;  
}
#observablehq-leg-2162ef11{
  position: absolute;

  /* width: 200px;  */
  opacity: 0.9; 
  z-index: 9;
  /* left:10%;
  margin-top: 45%; */
  right:17px;
  /* right:0; */
  bottom:114px;
  /* margin:5px;
  padding:5px; */
}

#observablehq-eventText-bf0be2b8{
  position: absolute;
  opacity: 0.9; 
  z-index: 9;
  width: 300px;
  /* left:10%;
  margin-top: 50%;  */
  left:0px;
  right:0;
  bottom:110px;
  margin:5px;
  padding:5px;
}

#observablehq-viewof-limits-5fc774d0{
  position: absolute;
  /* width: 80%;  */
  opacity: 0.9; 
  z-index: 11;
 
  left:0%;
  right:0;
  bottom:60px;
  margin:auto;
  padding:5px;
}

#observablehq-viewof-colorView-5fc774d0{
  z-index: 9;
  left:2px;
  margin-top: 42px; /* for demo purpose  */
  position: absolute;
  width: 80%; 
  opacity: 0.9; 
}

#observablehq-viewof-time1-273ac292{


  position: absolute;
  /* width: 80%;  */
  opacity: 0.9; 
  z-index: 9;
 
  left:5%;
  right:0;
  bottom:1px;
  margin:5px;
  padding:5px;
}

#observablehq-curDate-890dd666{
  z-index: 9;
  left:2px;
  margin-top:0px; /* for demo purpose  */
  position: absolute;
  /* width: 80%;  */
  opacity: 0.9; 
}




.buoyleg{
  position: absolute;
  /* top:10px; */
  right:45px;
  bottom:160px;
  z-index: 9;
  width: 40px;
  font-size: 16px;
   /* margin-top: 10%; */
}


.MHWText{
  position: absolute;
  /* top:10px; */
  left:50px;
  bottom:125px;
  z-index: 9;
  width: 220px;
  font-size: 16px;
}

.info{
  position: absolute;

  bottom:0px;
  right: 2px;
  z-index: 9;
  /* width: 220px; */
}

.buoyleg1{
  position: absolute;
  /* top:10px; */
  right:17px;
  bottom:160px;
  z-index: 9;
  width: 50px;
  font-size: 16px;
   /* margin-top: 10%; */
}



#tooltiper{
  position: absolute;
  width: 20px; 
  opacity: 0.9; 
  z-index: 20;
  left:203px;
  margin-top: 41px; /* for demo purpose  */
}

.logo{
  position: absolute;
  width: 114px; 
  opacity: 0.9; 
  z-index: 9;
  left:240px;
  margin-top: 1px; /* for demo purpose  */
  /* transform: scale(.4); */
}


#tooltiper1{
  position: absolute;
  width: 20px; 
  z-index: 20;
  /* left:10%;
  margin-top: 50%;  */
  left:240px;
  right:0;
  bottom:115px;
  margin:5px;
  padding:5px;
}





.tooltip-inner {
  background-color: #777373;
}

.tooltip.show {
  opacity: 1;
}

.selection{
  fill: white;
  fill-opacity: .7;
  stroke: none;
  }

  /* input[type="range"][name="i"] {
    width: 80% !important;
  } */
  .button {
    border: 0;
    background: transparent;
    box-sizing: border-box;
    /* width: 80; */
    height: 74px;
    border-color: transparent transparent transparent #999999;
    transition: 100ms all ease;
    cursor: pointer;
    border-style: solid;
    border-width: 37px 0 37px 60px;
    transform: scale(.4);
  }
  .paused {
    border-style: double;
    border-width: 0px 0 0px 60px;
  }
  .button:hover {
    border-color: transparent transparent transparent #404040;
  }